#include<stdio.h>
#include<stdlib.h>
#define n 5
int array[n][n]={0};
int c=1;
int y=0,x=(n-1)/2;
void printarray();
int main(){
	printarray();
	array[y][x]=c;
	
	for(int m=2;m<=n*n;m++){
		y--;//往左上移動 
		x--;//往左上移動
	
		if(y==-1 && x==-1){//超出左上角 
			y=1;
			x=0;
		}
		if (y==-1){y += n;} // 由上出界？　變成最底列 
		if (x==-1){x += n;} // 由左出界？　變成最右列 			
		if (array[y][x] != 0) // 已設值？ 
		{
			y += 2; // 到下兩列 
			x++; // 到右格　異常規則：若已填值，向下走一格 
		} 	
		printf("%d %d %d\n",y,x,m);
		array[y][x]=m;
	}

	printf("\n");
	printarray();	
	
	system("pause");
	return 0;
}

void printarray(){
	int i,j;
	for(i=0;i<n;i++){
		for(j=0;j<n;j++){
			printf("\t[%d][%d]=%d",i,j,array[i][j]);
		}
		printf("\n");
	}
}
